

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.card:hover{
    transform: scale(1.07);
}


li{
    padding-left: 10px;
    text-transform: capitalize;
    font-size: 20px;
}

.input{
    margin: 19px 0px;
    
}
.input input{
    width: 100%;
    padding: 10px;
    outline: none;
    
    border-radius: 20px;
    padding-left: 43px;
    color: #ccc;
}


.input textarea{
    width: 100%;
    border-radius: 20px;
    resize: none;
    padding: 10px;
    outline: none;
    color: #bbb;
}
.i{
    transition: 0.3s;
}
.i:hover{
    background-color: #3e3cdb;
}